# .gitignore для Python

# Игнорировать виртуальные окружения
venv/
env/
.env/

# Игнорировать кешированные файлы Python
pycache/
*.pyc

# Игнорировать файлы с конфиденциальными данными
*.env

# Игнорировать сессии Telethon
session_name/